@import url("gridcore.css");

body {

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#globe {

    flex: 0 0 auto;
    width: 800px;
    height: 800px;

    border: 1px solid grey;
    border-radius: 10px;
}
